*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 20px;
    background-color: aqua;
}

h1 {
    text-align: center;
    color: ;
}

button {
    padding: 5px;
    border-radius: 3px;
}

.product {
    margin-bottom: 20px;
}
.wishlist {
    margin-top: 20px;
}